/* Reset styles */
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Basic styles for the body */
body {
    background-color: #fafafa;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* Main container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    text-align: center;
    margin-bottom: 20px;
}

/* Form */
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

input[type="text"],
input[type="date"],
select {
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus {
    outline: none;
    background-color: #fff;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #3e8e41;
}

/* Task list */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li span {
    font-size: 16px;
}

li button {
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #f44336;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

li button:hover {
    background-color: #c62828;
}

/* Specific styles for this project */
#newtask {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

#addTask h1 {
    font-size: 36px;
    font-weight: bold;
    color: #1DA1F2;
    margin-bottom: 20px;
    text-align: center;
}

#tasks h2 {
    font-size: 28px;
    font-weight: bold;
    color: #1DA1F2;
    margin-bottom: 20px;
}

.task {
    border: 2px solid #1DA1F2;
}

.checked {
    background-color: green;
}