{% extends 'base.html' %}

{% block title %}
Supprimer une tâche | {{ block.super }}
{% endblock title %}

{% block content %}
<div class="card">
<form method="POST">
	{% csrf_token %}
	<h1 class="title">Supprimer une tâche</h1>
	<ol class="card-body">
		<li class="task">
			<div class="task-info">
				<span class="task-title">
					<p>Confirmez la suppression de la tâche : 
						<strong>
							{{ task }}
						</strong> ?
					</p>
					<div class="d-inline-block"> 
						<button class="btn btn-lg btn-danger" type="submit" value="Confirmer">
							Confirmer la suppression
						</button>
						<button class="edit-button" type="submit">
							<a class="btn btn-lg btn-light" href="{% url 'index' %}">Annuler</a>
						</button>
					</div>
				</span>
			</div>
		</li>
	</ol>
</form>
</div>
{% endblock content %}