{% extends 'base.html' %}

{% block title %}
Supprimer une tâche | {{ block.super }}
{% endblock title %}

{% block content %}
  <div class="container">
    <h1 class="title">Supprimer une tâche</h1>
    <p>Confirmez la suppression de la tâche : <strong>{{ task }}</strong> ?</p>
    <a class="btn-cancel" href="{% url 'index' %}">Annuler</a>
    <form method="post">
      {% csrf_token %}
      <input class="btn-confirm" type="submit" value="Confirmer">
    </form>
  </div>
{% endblock content %}
