{% extends 'base.html' %}

{% block title %}
Supprimer une tâche | {{ block.super }}
{% endblock title %}

{% block content %}

<form method="POST" class="container">
	{% csrf_token %}
	<h1 class="title">Supprimer une tâche</h1>
	<ol class="task-list">
		<li class="task">
			<div class="task-info">
				<span class="task-title">
					<p>Confirmez la suppression de la tâche : 
						<strong>
							{{ task }}
						</strong> ?
					</p>
					<button class="btn-confirm" type="submit" value="Confirmer">Confirmer la suppression</button>
						<button class="edit-button" type="submit">
							<a class="btn-cancel" href="{% url 'index' %}">Annuler</a>
						</button>
				</span>
			</div>
		</li>
	</ol>
</div>
{% endblock content %}
