{% extends 'base.html' %}

{% block title %}
    ToDoList App
{% endblock title %}

{% block content %}
    <div class="container">
        <h1 class="title">ToDoList by BEPAG</h1>
        <form class="form" method="post">
            {% csrf_token %}
            {{ task_form.title }}
            <button class="add-button" type="submit">Ajouter</button>
        </form>
        <ol class="task-list">
            {% for task in tasks %}
                <li class="task">
                    <div class="task-info">
                        <span class="task-title">
                            {% if task.completed %}
                                <del>{{ task.title }}</del>
                            {% else %}
                                {{ task.title }}
                            {% endif %}
                        </span>
                    </div>
                    <div class="task-actions">
                        <a class="task-action" href="{% url 'update' task.id %}">Modifier</a>
                        <a class="task-action" href="{% url 'delete' task.id %}">Supprimer</a>
                    </div>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endblock content %}
