{% extends 'base.html' %}

{% block title %}
    ToDoList App
{% endblock title %}

{% block content %}
    <div class="card">
        <h1 class="title">ToDoList by BEPAG</h1>
        <form class="form" method="post">
            {% csrf_token %}
            {{ task_form.title }}
            <button class="btn btn-primary" type="submit">Ajouter</button>
        </form>
        <ol class="list-group">
            {% for task in tasks %}
                <li class="list-group-item list-group-item-action">
                    <div class="task-info">
                        <span class="task-title">
                            {% if task.completed %}
                                <del>{{ task.title }}</del>
                            {% else %}
                                {{ task.title }}
                            {% endif %}
                        </span>
                    </div>
                    <div class="task-actions">
                        <a class="btn btn-sm btn-warning" href="{% url 'update' task.id %}">Modifier</a>
                        <a class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}">Supprimer</a>
                    </div>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endblock content %}



