{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>To-Do List</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <div class="container">
        <div id="newtask">
            <div id="addTask">
                <h1>To-Do List</h1>
                <form method="post" action="{% url 'todolist' %}">
                    {% csrf_token %}
                    <div class="form-item">
                        <label for="task">Ajouter une tache à faire:</label>
                        <input type="text" name="task" id="task">
                    </div>
                    <div class="form-item">
                        <label for="deadline">Ajouter deadline:</label>
                        <input type="date" name="deadline" >
                    </div>
                    <div class="form-item">
                        <label for="priority">Priorité:</label>
                        <select name="priority" >
                            <option value="Normal">Normal</option>
                            <option value="Important">Important</option>
                            <option value="Urgent">Urgent</option>
                        </select>
                    </div>
                    <button type="submit" id="add">Ajouter</button>
                </form>
            </div>
            <div id="tasks">
                <h2>Taches à faire</h2>
                <ul>
                    {% for task, deadline, priority in list %}
                    <li class="task">
                        <div class="task-details">
                            <div class="task-name">{{ task }}</div>
                            {% if deadline %}
                            <div class="task-deadline"><strong id="deadline">Deadline:</strong> {{ deadline }}</div>
                            {% endif %}
                            <div class="task-priority"><strong id="priority">Pririté:</strong> {{ priority }}</div>
                        </div>
                        <div class="task-action">
                            <form method="post" action="{% url 'delete_item_to_do_list' %}">
                                {% csrf_token %}
                                <input type="hidden" name="task_index" value="{{ forloop.counter0 }}">
                                <button class="delete" type="submit" name="action" value="delete">Supprimer</button>
                            </form>
                            <form method="post" action="{% url 'update_item_to_do_list' %}">
                                {% csrf_token %}
                                <input type="hidden" name="task_index" value="{{ forloop.counter0 }}">
                                <input name="task" value="{{ task }}">
                                <input type="date" name="deadline" value="{{ deadline }}" id="deadline-{{ forloop.counter0 }}">
                                <select name="priority" value="{{ priority }}" id="priority-{{ forloop.counter0 }}" >
                                    <option value="Normal">Normal</option>
                                    <option value="Important">Important</option>
                                    <option value="Urgent">Urgent</option>
                                </select>
                                
                                <button class="update" type="submit" name="action" value="update">Modifier</button>
                            </form>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <script>
        $(function() {
            // Ajoute un listener à tous les champs de date
            $("input[type=date]").change(function() {
                var task_index = $(this).closest("li").index();
                var deadline = $(this).val();
                update_task(task_index, "deadline", deadline);
            });
        
            // Ajoute un listener à tous les menus déroulants de priorité
            $("select[name=priority]").change(function() {
                var task_index = $(this).closest("li").index();
                var priority = $(this).val();
                update_task(task_index, "priority", priority);
            });
        
            // Envoie une requête AJAX pour mettre à jour la tâche dans la base de données
            function update_task(task_index, field, value) {
                $.ajax({
                    type: "POST",
                    url: "{% url 'update_item_to_do_list' %}",
                    data: {
                        task_index: task_index,
                        [field]: value,
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    },
                    success: function() {
                        console.log("La tâche a bien été mise à jour.");
                    },
                    error: function() {
                        console.log("Erreur lors de la mise à jour de la tâche.");
                    }
                });
            }
        });
        </script>
        
    

</body>
</html>