<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>To-Do List</title>
</head>
<body>
    <h1>To-Do List</h1>
    <form method="post" action="{% url 'todolist' %}">
        {% csrf_token %}
        <label for="tache">Ajouter une tache:</label>
        <input type="text" name="tache" id="tache">
        <label for="tache">Ajouter une date limite:</label>
        <input type="deadline" name="deadline" id="deadline">
        <button type="submit">AJOUTER</button>
    </form>
    <ul>
        {% for tache, deadline in list %}
        <li>{{ tache }}{% if deadline %} (Date limite: {{ deadline }}){% endif %}</li>
        {% endfor %}
    </ul>
</body>
</html>
