{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>To-Do List</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   
</head>
<body>
    <div class="container">
        <div id="newtask">
            <div id="addTask">
                <h1>To-Do List</h1>
                <form method="post" action="{% url 'todolist' %}">
                    {% csrf_token %}
                    <div class="form-item">
                        <label for="task">Ajouter une tache à faire:</label>
                        <input type="text" name="task" id="task">
                    </div>
                    <div class="form-item">
                        <label for="deadline">Ajouter deadline:</label>
                        <input type="date" name="deadline" >
                    </div>
                    <div class="form-item">
                        <label for="priority">Priorité:</label>
                        <select name="priority" >
                            <option value="Normal">Normal</option>
                            <option value="Important">Important</option>
                            <option value="Urgent">Urgent</option>
                        </select>
                    </div>
                    <button type="submit" id="add">Ajouter</button>
                </form>
            </div>
            <div id="tasks">
                <h2>Taches à faire</h2>
                <ul>
                    {% for task, deadline, priority in list %}
                    <li class="task">
                        <div class="task-details">
                            <div id="mybox">
                                <input type="checkbox" id="myCheckbox" onclick="changeColor()">helloooooo
                            </div>
                            <div class="task-name">{{ task }}</div>
                            {% if deadline %}
                            <div class="task-deadline"><strong id="deadline">Deadline:</strong> {{ deadline }}</div>
                            {% endif %}
                            <div class="task-priority"><strong id="priority">Pririté:</strong> {{ priority }}</div>
                        </div>
                        <div class="task-action">
                            <form method="post" action="{% url 'delete_item_to_do_list' %}">
                                {% csrf_token %}
                                <input type="hidden" name="task_index" value="{{ forloop.counter0 }}">
                                <button class="delete" type="submit" name="action" value="delete">Supprimer</button>
                            </form>
                            <form method="post" action="{% url 'update_item_to_do_list' %}">
                                {% csrf_token %}
                                <input type="hidden" name="task_index" value="{{ forloop.counter0 }}">
                                <input name="task" value="{{ task }}">
                                <input type="date" name="deadline" value="{{ deadline }}" id="deadline-{{ forloop.counter0 }}">
                                <select name="priority" value="{{ priority }}" id="priority-{{ forloop.counter0 }}" >
                                    <option value="Normal">Normal</option>
                                    <option value="Important">Important</option>
                                    <option value="Urgent">Urgent</option>
                                </select>                   
                                <button class="update" type="submit" name="action" value="update">Modifier</button>
                            </form>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <script>
		function changeColor() {
			var checkbox = document.getElementById("myCheckbox");
            var mybox = document.getElementById("mybox");
			if (checkbox.checked) {
				checkbox.classList.add("checked");
                mybox.classList.add("checked")
			} else {
				checkbox.classList.remove("checked");
                mybox.classList.remove("checked")
			}
		}
	</script>
</body>
</html>