{% extends 'base.html' %}
{% block title %}
Modifier une tâche | 
{% endblock title %}
{% block content %}





<div class="card">
    <div class="card-header">
        <h1 class="text-center">Modifier la tache de ToDoList</h1>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-text" title="Tâche fini">
                    {{edit_task_form.completed}}
                </div>
                {{edit_task_form.title}}
                <button type="submit" class="btn btn-lg btn-info">Confirmer la modification</button>
				<button type="submit" class="btn btn-light" >
					<a class="btn-cancel" href="{% url 'index' %}">Annuler</a>
				</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}